{% extends "app/BASE.html" %} 

{% load static %}

{% block main%}
        <!-- Productos-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Productos</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Granos</h3>
                            <p class="text-muted mb-0">En estancia Los Puquios producimos una gran variedad de granos, legumbres y otros productos. Maiz, Soja, Trigo, Garbanzos y Alfalfa, entre otros.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Barras de cereal</h3>
                            <p class="text-muted mb-0">Fabricamos barras de cereal a demanda. Diseñamos los productos, brindando asesoramiento durante todo el proceso hasta lograr un resultado con la máxima calidad, y al mejor costo.                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Energía eléctrica</h3>
                            <p class="text-muted mb-0">Inyectamos en la Red Nacional Energia Electrica generada a partir de fuentes renovables. Participamos en el mercado mayorista a traves de contratos PPA Renovar y tambien en el mercado a término con clientes privados.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">BioEtanol</h3>
                            <p class="text-muted mb-0">
                                Fabricamos BioEtanol en cualquier concentración, tanto para el mercado de combustibles como para otros destinos.</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Biodiesel</h3>
                            <p class="text-muted mb-0">Procesamos aceite de soja para producción de biodiesel y glicerina con normas internacionales.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Glicerina</h3>
                            <p class="text-muted mb-0">Producto para uso industrial o cosmético, en concentraciones personalizadas para satisfacer a cualquier mercado.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Coproductos de Aceite de Soja</h3>
                            <p class="text-muted mb-0">Acidos Grasos y Borras de desgomado de aceite de soja.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Otros productos</h3>
                            <p class="text-muted mb-0">Consultanos, estamos para ayudarte.</p>
                        </div>
                    </div>
                </div>                   
            </div>
        </section>
{% endblock main%}

